body {
	background-color: #32A8CC;
	font-family: 'Montserrat', sans-serif;
	color: #EDEDEB;
	overflow: hidden;
}

#hello {
	font-size: 40px;
	text-align: center;
}
p {
	font-size: 20px;
	text-align: center;
}
#emojitext {
	font-size: 20px;
}
#welcome {
	position: absolute;
  	left: 50%;
  	top: 40%;
	transform: translate(-50%, -50%)
}
textarea {
	width: 300px;
	height:200px;
}
#ok {
	background-color: #3A3A3A;
	color: #EDEDEB;
	border-radius: 20px;
	text-align: center;
	width: 30%;
	padding: 10px;
	margin: 10px;
	display: inline-block;

}
#continuebutton {
	background-color: #3A3A3A;
	color: #EDEDEB;
	border-radius: 20px;
	text-align: center;
	width: 30%;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	visibility: hidden;

}
#uppersection, #lowersection {
	visibility: hidden;
	display: inline-block;
}
#debilitating, #intense, #mild, #nopain {
	font-family: sans-serif;
	font-size: 100px;
	display:inline-block;
	margin: 10px;
	padding: 10px;
	opacity: 0.5;
	text-align: center;
	transition:all 0.2s;
}
#choices, #uppersection, #lowersection {
	text-align: center;
	margin: 10px;
	padding: 10px;
}
#debilitating:hover, #intense:hover, #mild:hover, #nopain:hover {
	font-size: 120px;
	opacity: 1;
	transition:all 0.2s;
}
#bear{
	position:absolute;
}